{% extends 'Layout.twig' %}
{%block title%}Hakkımızda | Moda Ortopedi{%endblock%}
{% block content %}
<div id="ABdev_header_spacer" style="height: 90px;"></div>
<section id="headline_breadcrumbs_bar" class="pattern_overlayed">
	<div class="container">
		<div class="row">
			<div class="span12 center_aligned">
				<h2>
					Hakkımızda
				</h2>
			</div>
			<div class="span12 center_aligned">
				<div class="breadcrumbs">
					<a href="#">Anasayfa</a>
					<span class="circle_delimiter"></span>
					<span class="current">Hakkımızda</span>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="tcvpb_section_tc section_body_fullwidth no_padding_top_and_bottom">
    <div class="tcvpb_section_content">
        <div class="tcvpb_container">
            <div class="tcvpb_column_tc_span5">
                <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container"
                     data-alias="about_us_slider">
                    <!-- START REVOLUTION SLIDER 5.1.4 auto mode -->
                    <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;"
                         data-version="5.1.4">
                        <ul>
                            <!-- SLIDE  -->
                            <li data-index="rs-14" data-transition="fade" data-slotamount="7" data-easein="default"
                                data-easeout="default" data-masterspeed="300"
                                data-thumb="views/assets/rs-plugin/assets/about_us2-100x50.jpg" data-rotate="0"
                                data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                                data-param3="" data-param4="" data-param5="" data-param6="" data-param7=""
                                data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="views/assets/rs-plugin/assets/about_us2.jpg" alt="" width="755" height="542"
                                     data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat"
                                     class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            </li>
                        </ul>
                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                    </div>
                </div><!-- END REVOLUTION SLIDER -->
            </div>
            <div class="tcvpb_column_tc_span5">
                <span class="clear spacer_40"></span>
                <h2 class=" title_with_after">HAKKIMIZDA</h2>
                <div class="">
                    {{ ayarlar.hakkimizda|raw }}
                </div>
            </div>
            <div class="tcvpb_column_tc_span2"></div>
        </div>
    </div>
</section>

{% endblock %}